.mr5 {
  margin-right: 5px;
}

.dark-bg {
  background-color: aliceblue;
}

.mt30 {
  margin-top: 30px;
}

.h207 {
  height: 207px;
  max-width: 100%;
}

a:hover {
  cursor: pointer;
}

$ratingControl-star-size: 48px;
$ratingControl-star-margin: 8px;

$ratingControl-star-width: $ratingControl-star-size + $ratingControl-star-margin; // width takes into account the size and the margin, as this makes the label wider based on these two values
$ratingControl-star-count: 5;

.ratingControl {
  position: relative;
  height: $ratingControl-star-size;
  user-select: none;
  margin: 0 3%;

  input {
    visibility: hidden;
  }
}
.ratingControl-stars {
  position: absolute;
  top: 0;
  width: $ratingControl-star-width;
  height: $ratingControl-star-size;
  background-image: url("../../assets/images/star-grey.svg");
  background-size: auto $ratingControl-star-size;
  background-repeat: no-repeat;
  cursor: pointer;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  // hover effect applied to the hovered star and all preceeding stars (and if the radio button is checked)
  &:hover,
  .ratingControl-stars:hover ~ &,
  input:checked ~ & {
    background-image: url("../../assets/images/star-gold.svg");
  }

  // displays a slightly different coloured star when someone is actively clicking the item
  &:active,
  .ratingControl-stars:active ~ &,
  input:checked ~ &:active {
    background-image: url("../../assets/images/star-gold.svg");
  }
}
.ratingControl-stars--1 {
  left: $ratingControl-star-width * 0;
}
.ratingControl-stars--2 {
  left: $ratingControl-star-width * 1;
}
.ratingControl-stars--3 {
  left: $ratingControl-star-width * 2;
}
.ratingControl-stars--4 {
  left: $ratingControl-star-width * 3;
}
.ratingControl-stars--5 {
  left: $ratingControl-star-width * 4;
}

.ratingControl-stars--half {
  width: ceil($ratingControl-star-size / 2) + 1;
}

$color-bg: #fff;

body {
  font-size: 62.5%;
  background-color: $color-bg;
  margin: 10px;
  border: 1px solid #333;
}

.rating-frame {
  // padding: 10px;
}

.rating-name {
  position: relative;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  color: #fec844;
}
